<h1>Users#index</h1>

<ul>
  <% for u in @users %>
  <li><%= link_to "#{u.name}", user_path(u) %></li>
  <% end %>
</ul>

<ul>
  <% for s in @sites %>
    <li><%= link_to "#{s.name}", site_path(s)  %></li>
  <% end %>
</ul>