@import "bootstrap";
@import "font-awesome";

body {
  background-color:rgb(242, 246, 238);
  font-family: 'Open Sans', sans-serif;

}

.container {
  margin-top: 30px;
}

.navbar, .comfortaa-font{
  font-family: 'Comfortaa', cursive;
}

.footer {
  margin-top: 1rem;
}

.smaller-font {
  font-size: 14px;
}

.italic {
  font-style: italic;
}

.navbar {
  -webkit-box-shadow: 0px 2px 10px 2px rgba(128, 128, 128, 0.36);
  -moz-box-shadow: 0px 2px 10px 2px rgba(128, 128, 128, 0.36);
  box-shadow: 0px 2px 10px 2px rgba(128, 128, 128, 0.36);
}

.page-layout {
  margin: 50px 0px;
}

.rating-star {
  color: rgb(255, 204, 0);
}

.empty-star {
  color: rgba(0, 0, 0, 0.19);
}

.card {
  border: 0;
}

.created-at-position {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.show-border {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.review-site {
  font-size: 16px;
}

.body-font {
  font-size: 18px !important;
}

.review-body {
  padding-top: 5px;
}

.blockquote-footer {
  font-size: 90%;
}

.card-header {
  padding-top: 20px !important;
}