@import "bootstrap";
@import "font-awesome";

body {
  background-color: rgb(239, 244, 246);
}

.navbar {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(56,56,56,1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(56,56,56,1);
  box-shadow: 0px 2px 5px 0px rgba(56,56,56,1);}

.container-fluid {
  padding: 0;
}
.page-layout {
  margin: 50px 0px;
}

.rating-star {
  color: rgb(255, 204, 0);
}