@import "bootstrap";
@import "font-awesome";

body {
  background-color: rgb(239, 244, 246);
  font-family: 'Open Sans', sans-serif;

}

.container {
  margin-top: 30px;
}

.navbar, .comfortaa-font{
  font-family: 'Comfortaa', cursive;
}

.footer {
  margin-top: 1rem;
}

.smaller-font {
  font-size: 14px;
}

.italic {
  font-style: italic;
}

.navbar {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(56,56,56,1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(56,56,56,1);
  box-shadow: 0px 2px 5px 0px rgba(56,56,56,1);}

.page-layout {
  margin: 50px 0px;
}

.rating-star {
  color: rgb(255, 204, 0);
}

.empty-star {
  color: rgba(0, 0, 0, 0.19);
}

.card {
  border: 0;
}

.created-at-position {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.show-border {
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.review-site {
  font-size: 16px;
}

.body-font {
  font-size: 18px !important;
}

.review-body {
  padding-top: 5px;
}

.blockquote-footer {
  font-size: 90%;
}